@import "compass/reset";
@import "compass/css3";
@import "setting.scss";
@import "slope.scss";
.E {
    font-family: 'Bebas', 'Noto Sans TC';
}

.textGroup {
    h1 {
        @include fontSize(5rem);
        // font-weight: 700;
    }
    h2 {
        @include fontSize(3rem);
        // font-weight: 700;
    }
    h3 {
        @include fontSize(2rem);
        // font-weight: 700;
    }
    h4 {
        @include fontSize(1.8rem);
        // font-size: 600;
    }
    span {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

.slope {
    @include transform(rotate(-$degree));
}

@import "main.scss";
.Layout1 {
    position: relative;
    .artistImg {
        position: absolute;
        top: 1vw;
        left: 7vw;
        width: 600px;
        height: 600px;
    }
    .content {
        @include Flex(flex-start, space-between);
        .textGroup {
            z-index: 2;
            &:first-child {
                h2 {
                    display: inline;
                    line-height: 0;
                }
            }
        }
        &:last-child {
            @include Flex(flex-end, space-between);
            .textGroup {
                &:first-child {
                    a {
                        @include transition(all, 0.8s);
                        color: black;
                        h3 {
                            padding: 0 20px;
                            margin: 10px;
                            display: inline-block;
                            background: yellow;
                        }
                        &:last-child {
                            display: block;
                        }
                        &:nth-child(1) {
                            h3 {
                                &:before {
                                    content: 'more'
                                }
                            }
                        }
                        &:nth-child(2) {
                            h3 {
                                &:before {
                                    content: 'ticket'
                                }
                            }
                            &:hover {
                                h3 {
                                    &:before {
                                        content: '8/5 開賣';
                                    }
                                    font-weight: bold;
                                    
                                }
                            }
                        }
                        &:nth-child(3) {
                            h3 {
                                &:before {
                                    content: 'live'
                                }
                            }
                            &:hover {
                                h3 {
                                    &:before {
                                        content: '9/30 19:30 線上直播'
                                    }
                                    font-weight: bold;
                                    font-family: 'Noto Sans TC';
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    margin-right: -2vw;
                    h1,
                    h2 {
                        padding: 0 20px;
                        display: table;
                        color: black;
                        background: yellow;
                        margin: -2px 0;
                    }
                    h1 {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
